# Ignore configs
**/CMakeUserPresets.json

# ignore the build folder
x64
**/build/**

# Ignore Jetbrains Products local files
.idea
cmake-build-debug
cmake-build-release

# Ignore the VS studio local files
.vs
*.user
*.filters