# OS Files
.DS_Store

# Ignore configs
**/CMakeUserPresets.json

# ignore the build folder
x64
**/build/**

# Ignore the Cache and cmake files
CMakeFiles
CMakeCache.txt

# Ignore Jetbrains Products local files
.idea
cmake-build-debug
cmake-build-release

# Ignore the VS studio local files
.vs
*.user
*.filters